@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.container2{
    display: flex;
    flex-direction: row;
    
    height: 100%;
    background-color: #EDEDED;
} 

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 50%;
    height: 60%;
    background-color: #48A6A7;
    border: 1px solid #000000; /* Add a border */
    border-radius: 30px;
}

.content3{
    display: flex;
    flex-direction: row;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    width: 100%;

}

.emailfullname{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    gap: 20px;
}

.eemail{
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.ffullname{
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    
    display: flex;
    flex-direction: column;
}

.buttonsaveback {
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    
}
input[type="text"], [type="email"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #000000;
    background-color: #D9D9D9;
}


.buttonsaveback button {
  background-color: #A4D6E1;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;   
}

.buttonsaveback button:hover {
  background-color: #547792 ;
  font-style: italic;
}